.home-view {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 20%);
}

/* Hero Section */
.hero {
  background-image: url("path/to/hero-image.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
}

/* Intro */
.intro {
  background-color: #d9d9d9;
  background-position: center;
  text-align: center;
  padding: 3rem 1rem;
}

/* Servicios */
.services {
  background-color: #000;
  text-align: center;
}

/* Destacados */
.featured {
  padding: 1rem;
  background-color: #d9d9d9;
  text-align: center;
  justify-content: space-between;
}

/* ¿Quiénes somos? */
.who {
  background-color: #000;
  color: white;
  padding: 1rem;
}

/* Testimonios */
.testimonials {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: center;
}

/* Contacto */
.contact {
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  background-color: #000;
}

